@model IEnumerable<Admin_panel.Models.Data.SuperMarket>
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "SuperMarketList";
}
@if (TempData["done"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["done"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["success"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<h3>Super Markets List</h3>

<p>
    <a class="btn btn-primary" asp-action="AddSuperMarket">Add Super Markets</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Super Market Name
            </th>
            <th>
               Super Market Town
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sp_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sp_town)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="SPEdit" asp-route-id="@item.sp_id">Edit</a> |
               @*  <a asp-action="Details" asp-route-id="@item.sp_id">Details</a> | *@
                <a class="btn btn-danger" asp-action="SPDelete" asp-route-id="@item.sp_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
